body {
    color: #585858;
    font-size: 16px;
    /*height: 3000px;*/
}


.container {
    padding-top: 5vh;
    padding-left: 0;
    /*padding-right: 15px;*/

}
.row {
    margin-left: 0;
    margin-right: 0;
}
.text-center {
    /*transform: translateX(-30px);*/
}
.center {
    /*border: 1px dotted blue;*/
    padding-right: 30px;
    color: #005D98;
}
article {
    margin-bottom: 40px;
}
hr {
    width: 160px;
    background-color: #005D98;
    height: 1.5px;
    border: none;
}
.illustration {
    /*background-image: url("../images/image2-2.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 48%;
    float: left;
    margin-right: 50px;
    margin-bottom: 30px;
}
article {
    /*border: 3px solid green;*/
    padding-top: 30px;
}
#comment-hr {
    width: 100%;
    background-color: #005D98;
}
h3 {
    color: #005D98;
    margin-top: -10px;
}
.exprimezVous {
    margin-bottom: 40px !important;
}
#comment-section {
    margin-bottom: 40px;
    clear: left;
}
.comment {

}
.comment-secondary {
    margin-left: 50px;
}
.comment-tertiary {
    margin-left: 100px;
}
#comment-section {
    /*border: 1px solid pink;*/
    margin-top: 40px;
}
.comment-name {
    color: #005D98;
    font-weight: bold;
    margin-bottom: 2px;
}
.respond-arrow {
    display: inline-block;

}
.respond-arrow > img {
    height: 20px;
    margin-right: 8px;
}
.respond-to-name {
    display: inline-block;
    color: #005D98;
    cursor: pointer;
}
.respond-to-name:hover {
    font-style: italic;
}

/*FORMULAIRE*/
#comment_author {
    margin-bottom: 15px;
}


ul {
    position: fixed;
    right: 0;
    margin-top: 4vh;
}
.nav-icon {
    height: 90%;
    width: 80%;
}
li {
    background-color: #005D98;
    width: 50px !important;
    list-style: none !important;
    height: 40px;
    border-radius: 11px 0 0 11px;
    margin-top: 4px;
    padding-top: 5%;

}

.next {
    height: 60%;
    width: 65%;
}

li .next {
    padding-top: 10px;
}

.previous {
    height: 60%;
    width: 65%;
}

li .previous {
    padding-top: 10px;
}


/*SMALL SMALL SMALL SMALL*/

@media (max-width: 800px) {
    .container {
        margin-left: 0;
        width: auto;
        padding-right: 0;
        padding-top: 0;
    }
    .illustration {
        width: 100%;
        float: none;
        height: 50vh;
    }
    article {
        padding-left: 30px;
        padding-right: 30px;
    }
    #comment-hr {
        width: 86%;
    }
    .exprimezVous {
        font-size: 20px;
        margin-left: 7%;
    }
    #comment-container {
        padding-left: 7%;
        padding-right: 7%;
    }
    .form-block {
        padding-left: 7%;
        padding-right: 7%;
    }

}